.block-1 {
    background-image: url(../images/backgroundinfo.jpg);
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
}
h1 {

}
h2{

}
h3{

}
.text{
    color: black;
    font-size: 1em;
    font-weight: 300;
}
.text-bold{
    color: black;
    font-size: 1em;
    font-weight: 700;
}

.block-5{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-5-container {

    margin: 0 10vw 10vw 10vw;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 300px);
  }
  .block-5-container > div {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.block-5-container > div > button {
    background-color: white;
    border: 1px solid black;

}
